@font-face {
    font-family: 'SAOWelcomeRegular';
    src: url('../Asset/font/SAOWelcome-Regular.otf') format('eot'),
    	 url('../Asset/font/SAOWelcomeTT-Regular.ttf') format('truetype');
}

body{
	opacity: 0.7;
}
#windowsContainer{
    z-index: 20;
	height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}
.window{
	position: absolute;
    left: 10%;
    top: 5%;
    height:80%;
    width: 80%;
    margin: 8px;
}
#topWindowContent{
   display: block;
    width: 100%;
    height: 26%;
}
#imgTop{
 	width: 100%;
    height: 100%;
}
#windowsName{
	font-family: 'SAOWelcomeRegular',Arial,serif;
	font-size: 30px;
    top: -88%;
    left: 37%;
    position: relative;
}

.windowsContent{
	padding: 20px;
	overflow: auto;
	background: url("../Asset/detailsWindow/middleWindow.png");
}

#lol2{
	font-family: 'SAOWelcomeRegular',Arial,serif;
	font-size: 20px;
	color: #000000;
	overflow:hidden;
}
#downWindowContent{
    height: 26%;
}

#imgBottom{
    width: 100%;
    height: 100%;
}
.windowsButton{
	display: inline-block;
	position: relative;
	background: no-repeat center center fixed;
	background-size: cover;
	height: 150px;
	width: 150px;
}
#windowNoButton{
	display: inline-block;
    top: -58%;
    left: 43%;
    height: 50px;
    width: 50px;
    position: relative;
}
#imgNoButton{
	height: 100%;
	width: 100%;
}

