@font-face {
    font-family: 'SAOWelcomeRegular';
    src: url('../Asset/font/SAOWelcome-Regular.otf') format('eot'),
    	 url('../Asset/font/SAOWelcomeTT-Regular.ttf') format('truetype');
}
.healthBar{
	display: flex;
	width: 33%;
	min-width: 570px;
	height: 50px;
	background: #000000;
}

.healthBarLabel{
	font-family: 'SAOWelcomeRegular',Arial,serif;
	color: #FFFFFF;
}
/*left side*/
#leftSide{
	width: 40px;
	min-width: 40px;
}
#leftSide>img{
	height: 50px;
	width: 100%;
}

/*middle side*/
#middle{
	font-family: 'SAOWelcomeRegular',Arial,serif;
	font-size: 20px;
	color: #FFFFFF;
	background-size: 100% 100%;
	background-image: url("../Asset/healthBar/middle.png");
	background-repeat: no-repeat;
	text-align: center;
	max-width: 150px;
	padding-right: 20px;
	padding-left: 20px;
}

#name{
	flex: 1;
	display: inline-block;
	line-height: 50px;
	max-width: 100px;
	vertical-align: middle;
	overflow: hidden;
}

/*right side*/
#healthBarSide{
    width: 70%;
}

#healthBarContainer{
    width:400px;
    height: 50px;
}
#healthBarImgContainer{
	position: relative;
	top: -38.3px;
	left: 3px;
	overflow:hidden;
}
#healthBarImg{
    width:360px;
    max-width: 360px;
    height: 19px;
}
