@font-face {
    font-family: 'SAOWelcomeRegular';
    src: url('../Asset/font/SAOWelcome-Regular.otf') format('eot'),
    	 url('../Asset/font/SAOWelcomeTT-Regular.ttf') format('truetype');
}

/*general*/

.healthBarStatus{
	height: 68px;
    min-width: 360px;
    background-color: 
}
.healthBarLabel{
	font-family: 'SAOWelcomeRegular',Arial,serif;
	color: #FFFFFF;
}
.Container{    
 	font-size: 0px;
 	display: inline-block;
    vertical-align: top;
    height: 100%;
    font-size: 0px;

}
.container>*{
	font-size: 27px;
}
/*left side*/

#leftSide>img{
	height: 100%;
}

/*middle side*/
#middleStatus{
    background-size: 100% 100%;
    background-image: url("../Asset/healthBar/middleStatus.png");
    background-repeat: no-repeat;
    max-width: 150px;
    padding-right: 20px;
    padding-left: 20px;
}

#name{
    color: #FFFFFF;
    font-family: 'SAOWelcomeRegular',Arial,serif;
    font-size: 20px;
	display: inline-block;
	overflow: hidden;
	position: relative;
    top: 20%;
    max-width: 100px;
}

/*right side*/

#healthBarSide{
	/*change this and height in healthBarStatus*/
    min-width: 198px;
}
#healthBarImgContainerStatus{
    height: 100%;
}
#healthBarContainerBarStatus{
    top: -100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 50%; /*change this change value*/
}
#healthBarImgStatus{
	height: 100%;
}

#healthBarLabels{
    position: relative;
    top: -138%;
    width: 100%;
}

#lifeCurrent{
    float: right;
    font-size: 17px;
    width: 19%;
    display: inline-block;
}
#lifeMax{
	float: right;
    font-size: 17PX;
    width: 20%;
    display: inline-block;
}
#level{
    font-size: 17px;
    float: right;
    width: 11%;
    display: inline-block;
}