/*============menu==================*/
#navbarMenuList{
	padding: 0;
    width: 10%;
}
#navList{padding: 0;}

/*gestion des itemMenus*/
.imgItemMenu,.imgItemMenuActive{
	width: 100%;
	opacity:0.8;
}
.menuItemLabel{
	margin-top: 4px;
	margin-bottom: 4px;
}
.navbarMenuItemButton{
	display:none;
}
.navbarMenuItemButton + label img + img{
	display:none;
}
.navbarMenuItemButton:checked + label img:first-child{
	display:none;
}
.navbarMenuItemButton:checked + label  img + img{
	display:initial;
}

#firstList{
	display: inline-block;
	margin-top: 10px;
	max-width: 200px;
}

/*Arrow*/
#navbarItemContentArrow{
	display: inline-block;
    vertical-align: middle;
    width: 15%;
}
.navbarArrowExt{
	display: block;
	width: 100%;
}
#navbarArrowExtTop{
	height:30%;
}
#navbarArrowExtBottom{
	height:30%;
}
.navbarArrowInt{
	display: block;
	width: 100%;
}
/*scrollBar*/
/*design*/


#scrollBarFirtList::-webkit-scrollbar{
	width:6px;
} 
#scrollBarFirtList::-webkit-scrollbar-thumb{
	background-color:#BDBDBD;
	border-radius:10px;
}
#scrollBarFirtList::-webkit-scrollbar-thumb:hover{
	background-color:#eba601;
}
#scrollBarFirtList::-webkit-scrollbar-thumb:active{
	background-color:#eba601;
}

#scrollBarFirtList{
    display: inline-block;
    vertical-align: middle;
    overflow-x: hidden;
    max-height: 200px;
    width: 1.5%;
}
#scrollBarFakeContener{}

#contenerHiddenFirstList{
    display: inline-block;
    vertical-align: middle;
    width: 82%;
    overflow: hidden;
}

/**ItemList*/
.divEmpty{}

#navbarItemContentList{
	display: inline-block;
    vertical-align: middle;
    overflow-x: hidden;
    max-height: 200px;
    width: 200px;
}
.navbarItemContentListContent{
	margin: 0px;
	white-space: nowrap;
    transition: all ease 750ms;
    position:relative;
}

.navbarItemList{
	height:40px;
	width:100%;
	margin-bottom: 1px;
	background: #FFFFFF;
	opacity: 0.8;
}

.navbarItemListImg{
	display: inline-block;
	margin: 5px;
    width: 30px;
    height: 30px;
}
.navbarItemListLabel{
    display: inline-block;
    width: 64%;
}

/*gestion itemList*/
.navbarListItemInput{
	display:none;
}

/*no Active*/
#arrowActive{
	display:none;
}

/*SECOND LIST*/
#secondList{
    max-width: 200px;
    display: none;
    position: relative;
    left: -7%;
    margin-top: 10px;
}

#ItemContentSecondList, #leftSideSecondList{
	display: inline-block;
	vertical-align: middle;

}#leftSideSecondList{
	width: 15%;
}
#ItemContentSecondList{
	width: 82%;
    max-height: 200px;
}