@font-face {
    font-family: 'SAOWelcomeRegular';
    src: url('../Asset/font/SAOWelcome-Regular.otf') format('eot'),
    	 url('../Asset/font/SAOWelcomeTT-Regular.ttf') format('truetype');
}
/*            smartphone             */ 
@media screen and (max-width: 767px) {
    #navbarMenuCollapsed {
        display: inline;  !important;
    }
    #navbarMenu {
        display: none !important;
    }
}
@media screen and (min-width: 720px) {
    #navbarMenuCollapsed {
        display: none  !important;
    }
    #navbarMenu {
        display: block !important;
    }
}


.nav{
	position: fixed;
	padding-top: 15px ;
	width: 100%;
	min-width: 324px;
}

#navbarHeader{
	margin-top: 0px;
	margin-bottom: 0px;
}

/*nav button collapsed*/
#navbarMenuCollapsed{
	position: relative;
	left:0;
	display:none;
}

#navbarMenuButtonCollapsed{
	background: #BDBDBD url("Asset/navbar/2_Menu-1_Ringed/Ringed Config.png") fixed no-repeat;
	display: none;
}

#navbarMenuButtonCollapsed:checked + .navbarImgButton{
	background: #BDBDBD url("Asset/navbar/2_Menu-1_Ringed/Ringed Config_on.png") fixed no-repeat;
}
/*nav body*/

#lifenavbar{
	height: auto;
	width: 300px;
}

/*nav button */
#navbarMenuButton{
	display: none;
}
.itemMenu{
	height: 100px;
	width: 100px;
}


#navbarMenuList{
	
}

/*Button behaviour**/
.navbarImgButton{
	height: 100px;
	width: 100px;
}

/**/


.itemMenu{
	height: 50px;
	width: 50px;
}
 .animate-enter,.animate-leave{ 

	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

	position: relative;

	display: block;
} 

.animate-enter.animate-enter-active,.animate-leave {
	opacity: 1;
	top: 0;
	height: 30px;
}
.animate-leave.animate-leave-active,.animate-enter {
	opacity: 0;
	top: -50px;
	height: 0px;
}

/****************footer****************/

.footer{
	position: fixed;
	bottom: 0;
	padding-top: 15px ;
	width: 100%;
	min-width: 324px;
	background-color: #000000;
	text-align: center;
}

.itemFooter{
	margin: 15px;
	display: inline-block;
}

#FooterList{
	padding-left: 0px;
}
#FooterText{
	padding-top: 15px;
	text-align: center;
}
/*
@media screen and (max-width: 720px) {
    #navbarMenuCollapsed {
        display: block  !important;
    }
    #navbarMenu {
        display: none !important;
    }
}*/