html{
	background: url("../Asset/back.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	background: rgba(255, 255, 255, 0);
}

@font-face {
    font-family: 'SAOWelcomeRegular';
    src: url('../Asset/font/SAOWelcome-Regular.otf') format('eot'),
    	 url('../Asset/font/SAOWelcomeTT-Regular.ttf') format('truetype');
}
label{
	font-family: 'SAOWelcomeRegular',Arial,serif;
	font-size: 15px;
}
/**navbar**/
#navbar{
	position: relative;
	top:0;
}

/****************footer****************/

.footer{
	position: fixed;
	bottom: 0;
	padding-top: 15px ;
	width: 100%;
	min-width: 324px;
	background-color: #000000;
	text-align: center;
}

.itemFooter{
	margin: 15px;
	display: inline-block;
}

#FooterList{
	padding-left: 0px;
}
#FooterText{
	padding-top: 15px;
	text-align: center;
}