ul {
	list-style: none;
    padding-left: 0;
    margin: 0;
}
img{
}

/*============menu Button==================*/
/*nav button*/

#menu{
	z-index: 10;
	position: absolute;
	left:44.5%;
}
#navbarMenuButton{display: none;}

.navbarImgButton{
	width: 10%;
}
.inputRadio{display:none;}

/*nav body*/
.navbarContent{padding:0;}

.content{display: inline-block;}

/*Right*/
#persoContent{}

/*Middle + Left*/
#menuContent{
    position: absolute;
    top: 23.5%;
}

/*Middle*/
#navbarMenuList{
	padding:0;
	padding-top: 2%;
}
/*Left*/
#navItemContent{
	position: relative;
    /*change this to set correct position*/
	display: none;
    vertical-align: top;
}



