#persoContent{
	display: inline-block;
    vertical-align: top;
    width: 45%;
}

#persoContentBottomBack,#persoContentTopBack{
	width: 100%;
}
#persoContentPosition{
	width: 60%;
    float: right;
	margin-right: 9px;
}
.roundedImage{     
	overflow:hidden;     
	-webkit-border-radius:50px;    
    -moz-border-radius:50px;     
	border-radius:50px;    
	width:90px;     
	height:90px;
 } 

#persoContentTitle{
	position: absolute;
    left: 28%;
    top: 2%;
}
#persoContentDescImage{
	height: 60px;
	width: 60px;
	text-align: center;
}
