body{
	background: #BDBDBD;
}
div{
  display:inline-block;
}
.contener{
      background: cadetblue;
      vertical-align: top;
      height:200px;
      width:100px;
}
#hiddenDiv{
  height:200px;
  width:50%;
  overflow:hidden;
}
#scrollbar{
    overflow-x:hidden;
    width:100px;
}
#scrollContent{
    overflow-x:hidden;
}
#contentScroll{
  height:300px;
  width:100%;
  background:rgba(23, 20, 237, 0.22);
  
}
#contentScrollBar{
  height:300px;
  width:100%;
  background:rgba(237, 20, 61, 0.22);
}