<section class= "container"ng-controller ="educationController as education">
	<div class="content col-lg-9">
		<div class="row">
 	  		<h3>Formation</h3>
 	    	<ul class="list-group">
 	        	<li class="list-group-item" ng-repeat="formation in education.formations">
 		        	<div class= "row">
 		        		<div class="col-lg-2"><span class="badge"> {{formation.year}} </span></div>
 		        		<div class="col-lg-8"><span> {{formation.title}} </span></div>
 					</div>
 					<div class= "row">
 						<div class="col-lg-offset-2 col-lg-3"><span>{{formation.description}}</span></div>
 					</div>
 				</li>
 	    	</ul>
 		</div>
	</div>
	<div class="sidebar col-lg-3">
		<p> je suis la sidebar</p>
	</div> 
</section>