<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="UTF-8">
      <title>Curriculum Vitae</title>
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="http://code.angularjs.org/1.3.4/angular.min.js"></script>
      <script src="http://code.angularjs.org/1.3.4/angular-animate.js"></script>
    
      <script src="app.js"></script>
      <!--  main -->
      <link href="css/main2.sao.css" rel="stylesheet">
      <script src="controllers/main.sao.ctrl.js"></script>
      <!-- header -->
      <link href="css/healthBarWithStatus.sao.css" rel="stylesheet">
      <script src="controllers/healthBar.sao.ctrl.js"></script>
      <!--navbar-->
      <link href="css/navbar.sao.css" rel="stylesheet">
      <link href="css/detailsWindows.sao.css" rel="stylesheet">
      <link href="css/persoContent.sao.css" rel="stylesheet">
      <link href="css/listMenu.sao.css" rel="stylesheet">
      <script src="controllers/navbar.sao.ctrl.js"></script>
      <script src="controllers/persoContent.sao.ctrl.js"></script>

 </head>
  <body ng-app="app" ng-controller="MainController as main">
    <header>
        <div class="healthBarStatus" ng-controller="healthBarCtrl as ctrl">
          <div class="Container" id="leftSide">
            <img src="Asset/healthBar/leftSideStatus.png">
          </div><div class="Container" id="middleStatus">
            <label class="healthBarLabel" id="name">{{ctrl.name}}</label>
          </div><div class="Container" id="healthBarSide">
            <img id="healthBarImgContainerStatus" src="Asset/healthBar/rightSideStatusEmpty.png">
            <div id="healthBarContainerBarStatus">
              <img id="healthBarImgStatus" ng-src="{{ctrl.healthbar}}">
            </div><div id="healthBarLabels">
                <label class="healthBarLabel" id="level">{{ctrl.level}}</label>
                <label class="healthBarLabel" id="lifeMax">{{ctrl.maxLife}}</label>
                <label class="healthBarLabel" id="lifeCurrent">{{ctrl.currentLife}}</label>
            </div>
          </div>
    </div>
    </header>
    <section class="mainContent">  
    </section>
    <section id="navbar">
      <section class="navbarMenu" ng-controller="navbarCtrl as navbar">
          <section id="menu">
                  <input type="checkbox" id="navbarMenuButton">
                  <label for="navbarMenuButton"><img class="navbarImgButton" id="menuButton"
                    ng-src="Asset/navbar/RingedConfig.png" ng-click="navbar.OnMenuClick()">
                  </label></section>
          <section class="navbarContent container-fluid" id="navbarContent" ng-show="navbar.showNavMenu == false">
                  <section class="content" id="persoContent" ng-controller="persoContentCtrl as persoCtrl">
                      <div id="persoContentPosition">
                        <div id="persoContentTop"><img id="persoContentTopBack" 
                        src="Asset/persoContent/ContentWithRingEmpty.png">
                        <label id="persoContentTitle">Passions</label>
                        <ul id="persoContentList">
                          <li class="passionItem" ng-repeat="passion in persoCtrl.passions">
                             <div class="roundedImage" ng-click="persoCtrl.OnPassionImgclick($index)" style="background:url({{passion.img}}) no-repeat 30px 30px;" >&nbsp; </div>
                          </li>
                        </ul>
                        </div><div id="persoContentBottom" ng-show ="persoCtrl.showDescription == false">
                              <img id="persoContentBottomBack" src="Asset/persoContent/Expend.png">
                              <div id="persoContentBottomImage"></div>
                              <img id="persoContentDescImage" ng-src="persoCtrl.descImg">
                              <label id="persoContentBottomLabel">{{persoCtrl.Content}}</label>
                          </div>
                      </div>
                  </section>
                  <section class="content" id="menuContent">
                    <div class="content" id="navbarMenuList">
                      <ul id="navList">
                          <li ng-repeat="item in navbar.navbarMenu" class="itemMenuList">
                            <input type="radio" name="itemMenu" class="navbarMenuItemButton" id="{{item.id}}">
                            <label class="menuItemLabel"for="{{item.id}}" ng-click="navbar.OnItemMenuClick(item.id,$index)">
                                  <img class="imgItemMenu" ng-src="{{item.url}}">
                                  <img class="imgItemMenuActive" ng-src="{{item.urlActive}}">
                            </label>
                           </li>
                      </ul>
                    </div>
                    <div class="content" id="navItemContent">
                      <section  id="firstList">
                          <div id ="navbarItemContentArrow">
                            <img class="navbarArrowExt" id="navbarArrowExtTop" src="Asset/navbar/ArrowTop2.png">
                            <img class="navbarArrowInt" id="arrowMiddle" src="Asset/navbar/ArrowMiddle2.png">
                            <img class="navbarArrowExt" id="navbarArrowExtBottom" src="Asset/navbar/ArrowBottom2.png">
                          </div><div id="scrollBarFirtList">
                            <div id="scrollBarFakeContener"></div>
                          </div><div id="contenerHiddenFirstList">
                              <div id="navbarItemContentList">
                                    <div class="divEmpty"></div>
                                      <ul id="navbarItemContentListContent">
                                        <li class="navbarItemList FirstItemList" ng-repeat="itemContent in navbar.navbarItemList" id="{{itemContent.id}}">
                                            <input type="radio" name="radioItemList" class="navbarListItemInput firstListInput" id="{{itemContent.idRadio}}">
                                            <img class="navbarItemListImg" ng-src="{{itemContent.img}}">
                                            <label class="navbarItemListLabel" ng-click="navbar.OnItemFirstListClick(itemContent.id,itemContent.idRadio,$index)">{{itemContent.name}}</label>
                                        </li>
                                      </ul>
                                    <div class="divEmpty"></div>
                              </div>
                          </div>
                      </section><section  id="secondList">
                          <div  id="leftSideSecondList">
                            <img class="navbarArrowExt" id="arrowExtTopSecondList" src="Asset/navbar/ArrowTop2.png">
                            <img class="navbarArrowInt" id="arrowMiddleSecondList" src="Asset/navbar/ArrowMiddle2.png">
                            <img class="navbarArrowExt" id="arrowExtBottomSecondList" src="Asset/navbar/ArrowBottom2.png">
                          </div><div  id="ItemContentSecondList">
                            <ul class="SecondList" id="secondItemList">
                              <li class="navbarItemList SecondItemList" ng-repeat="itemContentSecondList in navbar.navbarItemSecondList" id="{{itemContentSecondList.id}}">
                                  <input type="radio" name="radioItemList" class="navbarListItemInput SecondListInput" id="{{itemContentSecondList.idRadio}}">
                                  <img class="navbarItemListImg" ng-src="{{itemContentSecondList.img}}">
                                  <label class="navbarItemListLabel" ng-click="navbar.OnItemSecondListClick(itemContentSecondList.id,itemContentSecondList.idRadio)">{{itemContentSecondList.name}}</label>
                              </li>
                            </ul>
                          </div>
                      </section>
                    </div>
                  </section>
          </section>
      </section>
      <section id="windowsContainer" ng-controller="navbarCtrl as navbar">
        <div class="window">
          <div id="topWindowContent">
            <img id="imgTop" src="Asset/detailsWindow/upWindow.png">
            <label id ="windowsName"> My windows </label>
          </div>
          <div class="windowsContent">
                <label id="lol2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare porttitor elit, non sodales ex tempus eget. Vivamus aliquam a nisl a feugiat. Donec id.
                </label>
          </div>
          <div id="downWindowContent">
                <img id="imgBottom" src="Asset/detailsWindow/downWindow.png">
                <div class="windowButton" id="windowNoButton" ng-click="navbar.OnNoButtonClick()">
                      <img id="imgNoButton" src="Asset/detailsWindow/No.png" >
                </div>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>